<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Currency Converter</title>
    <!-- Global Styles Reference -->
    <link rel="Stylesheet" href="CSS/bootstrap.min.css" type="text/css" />
    <link rel="Stylesheet" href="CSS/global.css" type="text/css" /> 
    <style type="text/css">
        .label-footer-text {
            margin-top: 20px;
        }
        .label-footer-text a {
            margin: 15px 15px 0 0;
            text-decoration: underline;
        }        
    </style>   
</head>
<body ng-app="myApp">
	<div ng-controller="CurrencyConverter" class="panel panel-default board">
		<h3 class="label-heading">Currency converter</h3>		
        <!-- Start currency convertion for 'from' direction define -->
        <div class="currency-field-row">
        <h5>Type in amount and select currency:</h5>	        
		<currencycontrol 
			currencyobject = from
			currencies = currencies
			direction = direction
			source = 1
		>
		</currencycontrol>        
        </div>	
        <!-- End currency convertion for 'from' direction define -->	

        <!-- Start currency convertion for 'to' direction define -->					
        <div class="currency-field-row">      
        <h5>Converted amount:</h5>	
		<currencycontrol
			currencyobject=to
			currencies = currencies
			direction = direction
			source = 0
		>
		</currencycontrol>        
        </div>	
        <!-- End currency convertion for 'to' direction define -->			
        <div class="row">
            <div class="label-footer-text pull-right">
                <a href="#">Disclaimer</a>
            </div>
        </div>	        			
	</div>    
    <script type="text/ng-template" id="currencycontrol.html">
      <!-- Start currency convertion controls define -->	
      <div class="row">
          <div class="col-xs-7">
             <input type='text' placeholder='0.00' class='form-control' ng-model='currencyobject.amount' ng-focus='changeDirection(source)'>
          </div>
          <div class="col-xs-5">
             <select name='currencySelect' id='currencySelect' ng-model='currencyobject.selectedcurrency'
                ng-options='c.currency for c in currencies' class='form-control' ng-focus='changeDirection(1)'>
             </select>
          </div>
      </div> 
      <!-- End currency convertion controls define -->	     
    </script>  
  <!-- JS Reference -->
  <script type="text/javascript" src="Script/angular.min.js"></script>
  <script type="text/javascript" src="Script/currency.js"></script>
</body>
</html>
